<html>

<head>
    <title>Notebook</title>
    <!-- Icons & Stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <!-- vue.js-->
    <script src="../vue.js"></script>
    <!-- Marked库 -->
    <script src="./marked.js"></script>


    <!-- Notebook app -->
    <div id="notebook">

        <!-- 左侧侧边栏 -->
        <aside class="side-bar">
            <!-- 这里将是笔记列表 -->
            <div class="toolbar">
                <!-- 添加笔记按钮 -->
                <button @click="addNote" :title="notes.length +'条笔记'"><i class="material-icons">add</i>添加笔记</button>
            </div>
            <div class="notes">
                <!-- 笔记列表显示在这里 -->
                <div v-for="note in notes" @click="selectNode(note)">{{ note.title }}</div>
            </div>
        </aside>

        <!-- Main pane -->
        <section class="main">
            <textarea v-model="content"></textarea>
        </section>

        <!-- 预览面板 -->
        <aside class="preview" v-html="notePreview">
            {{notePreview}}
        </aside>
    </div>

    <!-- Some JavaScript -->
    <script src="script1.js"></script>
</body>

</html>